.signup-form input[type="text"], .signup-form input[type="password"] {
	width: 70%;
	width: 30%;
	padding: 3vh 1.5vw;
	margin: 0px 0;
	display: inline-block;
	box-sizing: border-box;
	font-size: 2vmin;
}

.signup-form button {
	width: 70%;
	width: 30%;
	background-color:#1976d2;
	color: white;
	padding: 1.5vh 2vh;
	margin: 2vh 0vw;
	border: none;
	cursor: pointer;
	font-size: 2vmin;
}

.signup-form button:hover {
	opacity: 0.8;
}