.animal-list {
	list-style-type: none;
	overflow: hidden;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
.animal {
	font-size: 3vh;
	margin: 0.05vh 0.05vw;
	padding: 0.05vh 0.05vw;
	/*border: 2px solid #2980b9;*/
	/*background-color: #ffc107;*/
	border: 0.02vw 0.02vh solid #000000;
}

.animal p{
	font-size:70%;
}

.animal-item {
	border: 0.02vw 0.02vw solid #2980b9;
	width: 22vw;
	height: 42vh;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.animal-item img{
	height: 25vh;
	margin: 4px;
}

/* Botão de login. */
.animal-item button {
	background-color:#1976d2;
	color: white;
	padding: 0vh 2vw;
	border: none;
	cursor: pointer;
	height: 6vh;
	width: 10vw;
	font-size: 2vmin;
}

/* Ao passar o mouse por cima do botão de login. */
.animal-item button:hover {
	opacity: 0.8;
}