.service-list {
	list-style-type: none;
	overflow: hidden;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
.service {
	font-size: 3vh;
	margin: 5px;
	padding: 5px;
	/*border: 2px solid #2980b9;*/
	/*background-color: #ffc107;*/
	border: 2px solid #000000;
}

.service h4{
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
}

.service p{
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	width: 39vh;
	height: 5vh;
	font-size:70%;
}

.service-item {
	border: 2px solid #2980b9;
	width: 40vh;
	height: 42vh;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.service-item img{
	height: 25vh;
	margin: 4px;
	padding: 0;
}