/* Corpo do HTML. */
body {
	background-color: #DDDDDD;
	font-size: 4vmin;
	margin: 0vh 0vw;
}

/* Linha. */
.row {
	display: flex;
	flex-direction: row;
}

/* Coluna. */
.column {
	display: flex;
	flex-direction: column;
}

/* Justificação. */
.justify {
	justify-content: space-between;
}

/* Cabeçalho da página. */
.header {
	background-color: #ffc107;
	color: #1976d2;
	padding: 3vh 3vw;
}

/* Imagem do logo. */
.logo-image {
	width: 7vmin;
	height: 7vmin;
}

/* Texto do logo. */
.logo-text {
	text-decoration: none;
	color: #1976d2;
}

/* Campo de login do cabeçalho. */
.header-login {
	padding: 1.5vh 2.5vw;
	display: inline-block;
}

/* Botão de login. */
.login-button {
	background-color:#1976d2;
	color: white;
	padding: 0vh 2vw;
	border: none;
	cursor: pointer;
}

/* Ao passar o mouse por cima do botão de login. */
.login-button:hover {
	opacity: 0.8;
}

/* Texto em baixo do login. */
.under-login {
	font-size: 2vmin;
}

/* Barra de navegação. */
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1976d2;
	top: 0;
}

/* Item da barra de navegação. */
.navbar-item {
	float: left;
}

/* Link da barra de navegação. */
.navbar-link {
	display: block;
	color: white;
	text-align: center;
	padding: 2vh 1vw;
	text-decoration: none;
}

/* Quando o mouse estiver em cima de algum link da barra de navegação.*/
.navbar-link:hover {
	background-color: #FFFFFF;
	color: #1976d2;
}

/* Quando um item da barra de navegação estiver ativo. */
.navbar .active {
	background-color: #03A9F4;
	color: #1976d2;
}

/* Rodapé da página. */
.footer {
	background-color: #ffc107;
	color: #1976d2;
	text-align: left;
	padding: 3vh 3vw;
	font-size: 2vmin;
	line-height: 80%;
}

/* Container da apresentação de slides. */
.slideshow-container {
	max-width: 50vw;
	position: relative;
	margin: auto;
}

/* Escondendo as imagens por padrão. */
.slides {
	display: none;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
